<section class="flex flex-col px-6 xl:w-8/12 xl:px-0 sm:px-6 sm:flex-row items-center justify-center gap-4 w-full gap-y-8">
	<div class="flex flex-col-2 justify-start gap-4 sm:items-start">
		{% include 'logo.twig' %}
		{# <h1 class="w-40 text-left">Мультимедийный русско-английский словарь</h1> #}
	</div>
	<div class="w-full flex flex-col gap-1">
		{% include 'search-input.twig' %}
		{% include 'recent-searches.twig' %}
	</div>
</section>
