<div class="flex items-center gap-1">
	<p class="w-auto text-neutral-700">Примеры:</p>
	<ul class="flex flex-wrap gap-1">
		<li class="list-none">
			<a href="/mind-na-russkom-perevod-primery" class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded" aria-label="Перевод слова mind на русский">mind,</a>
		</li>
		<li class="list-none">
			<a href="/redkij-na-anglijskom-perevod-primery" class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded" aria-label="Перевод слова редкий на английский">редкий</a>
		</li>
	</ul>
</div>
