<section class="flex flex-col items-center justify-center w-full gap-12">
	<div class="w-full sm:w-6/12 flex flex-col-2 justify-center gap-4">
		{% include 'logo.twig' %}
		<h1 class="w-40 text-left">Мультимедийный русско-английский словарь</h1>
	</div>
	<div class="w-full sm:w-6/12 flex flex-col gap-1">
		{% include 'search-input.twig' %}
		{% include 'recent-searches.twig' %}
	</div>
</section>
