AddDefaultCharset UTF-8
RewriteEngine On

# Редирект с www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Редирект HTTP на HTTPS
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# Правила переадресации
RewriteRule ^(.*)-na-anglijskom-perevod-primery item.php?url=$1 [L,QSA]
RewriteRule ^(.*)-na-russkom-perevod-primery item_en.php?url=$1 [L,QSA]
RewriteRule ^(.*)-not-found not-found.php?url=$1 [L,QSA]

# Пользовательская ошибка 404
ErrorDocument 404 /404.php